@using ShopFilip.IdentityModels
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@model ShopFilip.Models.Register
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/ShoppingCart.css">

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</head>
<body>
    <h3 class="title">Shopping Cart</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Remove from cart</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        @foreach (var item in ViewBag.cart)
        {
            <tr>
                <td><a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Id">Remove</a></td>
                <td>@item.Product.Name</td>
                <td><img class="photoInCart" src="https://drive.google.com/uc?id=@item.Product.Photo" alt="[Photo]" /></td>
                <td>@item.Product.Price</td>
                <td>@item.Quantity</td>
                <td>@(item.Product.Price * item.Quantity)</td>
            </tr>
        }
        <tr>
            <td align="right" colspan="5">Sum</td>
            <td>
                @ViewBag.total
            </td>
        </tr>
    </table>
    <div>
        <button onclick="goBack()" class="button">Continue shoping</button>

        @if (SignInManager.IsSignedIn(User))
        {
            <form method="get" asp-controller="Cart" asp-action="myAction">
                <input type="hidden" name="Price" value="@ViewBag.total" />
                <input type="hidden" name="Id" value="@UserManager.GetUserId(User)" />
                <input type="submit" class="button" value="Buy" />
            </form>
        }
        else
        {
            <a asp-controller="Account" asp-action="Login" class="button">Buy</a>
        }

    </div>
   
</body>
</html>